.main{
  position: relative;
  margin-bottom: 100px;
  margin-left: 25px;
  margin-right: 25px;
}
body{ 
  width: 100%;
  height: 100%; 
  position: relative;
}

.bottom{
  position: absolute;
  bottom: -15;
  right: 25px;
}

.btn-primary{
  float: right;
}

h3{
  margin-top: 50px;
  position: relative;
}
table{
    border: white;
    /* max-width: fit-content; */
    margin-bottom: 50px;
    table-layout: fixed;
}
.showsp{
  table-layout: auto;
  max-width: fit-content;
}
.tables{
  margin-top: 3%;
  margin-left: 25px;
  margin-right: 25px;
}
  th,
  td {
    width: fit-content;
    text-align: center;
    /* overflow: visible;  */
    text-overflow: ellipsis; 
    word-wrap: break-word;
  }
  .photo1{
    width: 170px;
  }

.container{
    margin-left: 0;
}

#exit{
  max-width: fit-content;
  text-align: center;
  height: fit-content;
  position: absolute;
  bottom: 0;
  right: 0;
  transform: translate(-50%, -50%);
}
.btn-info{
  max-width: fit-content;
  text-align: center;
  height: fit-content;
  position: absolute;
  bottom: 0;
  right: 0;
  transform: translate(-50%, -50%);
}
#editp{
  max-width: fit-content;
  text-align: center;
  height: fit-content;
  position: absolute;
  bottom: -10%;
  right: 0;
  transform: translate(-50%, -50%);
}
#insertp{
  max-width: fit-content;
  text-align: center;
  height: fit-content;
  position: absolute;
  bottom: -20%;
  right: 0;
  transform: translate(-50%, -50%);
}
header{
  position: relative;
}
#search{
  max-width: fit-content;
  text-align: center;
  height: fit-content;
  position: absolute;
  bottom: 0;
  right: 0;
  transform: translate(-50%, -50%);
}
#hdshow{
  margin-bottom: 5%;
  text-align: center;
}
.show{
  margin-top: 10px;
}


#bodyempt{
  position: relative;
  background-image: url("/static/img/empty.png");;
}
#empty{
  max-width: fit-content;
  text-align: center;
  height: fit-content;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#showspec{
  max-width: fit-content;
  text-align: center;
  height: fit-content;
  position: absolute;
  bottom: -12%;
  right: 0;
  transform: translate(-50%, -50%);  
}

#error{
  max-width: fit-content;
  text-align: center;
  height: fit-content;
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);  
}
#butn{
  max-width: fit-content;
  text-align: center;
  height: fit-content;
  position: absolute;
  top: 50%;
  right: -55%;
  transform: translate(-50%, -50%);  
}
.pagination{
  margin-bottom: 3%;
  margin-left: 45%;
}
#checkdoc{
  padding: 2px 6px;
}
#appointment{
  max-width: fit-content;
  text-align: center;
  height: fit-content;
  position: absolute;
  bottom: -12%;
  left: 50%;
  transform: translate(-50%, -50%);  
}
.opening{
  font-size: 50;
  margin-bottom: 5%;
}
#appbk{
  max-width: fit-content;
  text-align: center;
  height: fit-content;
  position: absolute;
  top: 105%;
  left: 50%;
  transform: translate(-50%, -50%); 
}
.delete{
  max-width: fit-content;
  text-align: center;
  height: fit-content;
  position: absolute;
  top: 500px;
  left: 50%;
  transform: translate(-50%, -50%);
}
.img_div{
  /* padding: 0; */
  margin: 20px;
  position: relative;
  height: 300px;
  text-align: center;
  box-shadow: 3px 3px grey, -1em 0 .4em gold;
}
.searchbar_img{
  max-width: fit-content;
  height: fit-content;
  position: absolute;
  top: 50%;
  left: 10%;
  transform: translate(-50%, -50%);
  margin: 10px;
}
.searchbar_name{
  text-align: center;
}
.time{
  font-size: larger;
  text-align:left;
  margin-top: 50px;
  margin-left: 25%;
}
#sps{
  max-width: fit-content;
  text-align: center;
  height: fit-content;
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
}
/* #temp{
  table-layout: fixed;
}
td { 
  overflow: hidden; 
  text-overflow: ellipsis; 
  word-wrap: break-word;
} */