{% load static %}
<!DOCTYPE html>
<head>
    <title>DOCTOR TABLE</title>
    <link rel="stylesheet" href="{% static 'CRUDOperation/css/bootstrap.css' %}">    
    <link rel="stylesheet"  type="text/css" href="{% static 'css/styles.css' %}">

</head>
<body>
    <center>
        <header>
            <nav id="header-nav" class="navbar navbar-light" style="background-color: #e3f2fd;">
                <div class="container" align="left">
                  <div class="navbar-header">
                    <h1>DOCTOR TABLE</h1>
                    <a href = "{% url 'showspecialization' %}" class="btn btn-info">Back</a>
                </div></div></nav>
            </header>
            <div class="tables">
        <table border="1" class="table table-striped table-bordered">
            {% if data %}
            <tr>
            <tr>
                <th>ID</th>
                <th>Doctor Name</th>
                <th>Date of Birth</th>
                <th>IIN</th>
                <th>Contact Number</th>
                <th>Department ID</th>
                <th>Specilization ID</th>
                <th>Experience</th>
                <th>Category</th>
                <th>ScheduleStart</th>
                <th>ScheduleEnd</th>
                <th>Education</th>
                <th>Rating</th>
                <th>Address</th>
                <th>Photo_2</th>
                <th colspan="2">Appointment</th>
            </tr>
            {% for result in data %}
            <tr>
                <td>{{result.id}}</td>
                <td>{{result.empname}}</td>
                <td>{{result.dateofbirth}}</td>
                <td>{{result.iin}}</td>
                <td>{{result.contact}}</td>
                <td>{{result.departmentid}}</td>
                <td>{{result.specializationid}}</td>
                <td>{{result.experience}}</td>
                <td>{{result.category}}</td>
                <td>{{result.schedulestart}}</td>
                <td>{{result.scheduleend}}</td>
                <td>{{result.education}}</td>
                <td>{{result.rating}}</td>
                <td>{{result.address}}</td>
                <td><img src="{% static 'img/img.jpg' %}" width = "150"></td>
                <td><a href="timetable/{{result.id}}" class="btn btn-secondary">Make an appointment</a></td>

            </tr>
        </div>
            {% endfor %}
                {% else %}
            <center><h2>No working doctors with this specialization type</h2></center>
            {% endif %}
</body>
</html>