{% load static %}
<!DOCTYPE html>
<head>
    <title>CREATE NEW DOCTOR</title>
    <link rel="stylesheet" href="{% static 'CRUDOperation/css/bootstrap.css' %}">    
    <link rel="stylesheet"  type="text/css" href="{% static 'css/styles.css' %}">

</head>
<body>
    <center>
        <header>
            <nav id="header-nav" class="navbar navbar-light" style="background-color: #e3f2fd;">
                <div class="container" align="left">
                  <div class="navbar-header">
                        <h1>CREATE NEW DOCTOR USER</h1>
                    </div></div></nav>
                </header>
                <div class="tables">
        <form method = "POST">
            {% csrf_token %}
        <table border="1" class="table table-striped table-bordered showsp">
           
            <tr>
                <td>Doctor Name</td>
                <td><input type="text" placeholder="Enter Employee name.." name="empname"></td>
            </tr>
           
            <tr>
                <td>dateOfBirth</td>
                <td><input type="date" placeholder="Enter dateOfBirth.." name="dateofbirth"></td>
            </tr>

            <tr>
                <td>IIN</td>
                <td><input type="text" placeholder="Enter IIN.." name="iin"></td>
            </tr>

            <tr>
                <td>Contact</td>
                <td><input type="text" placeholder="Enter contact.." name="contact"></td>
            </tr>

            <tr>
                <td>departmentID</td>
                <td><input type="text" placeholder="Enter departmentID.." name="departmentid"></td>
            </tr>

            <tr>
                <td>specializationID</td>
                <td><input type="text" placeholder="Enter specializationID.." name="specializationid"></td>
            </tr>

            <tr>
                <td>category</td>
                <td><input type="text" placeholder="Enter category.." name="category"></td>
            </tr>  

            <tr>
                <td>experience</td>
                <td><input type="text" placeholder="Enter experience.." name="experience"></td>
            </tr>

            <tr>
                <td>photo</td>
                <td><input type="text" placeholder="Enter photo.." name="photo"></td>
            </tr>

            <tr>
                <td>schedulestart</td>
                <td><input type="time" placeholder="Enter schedule.." name="schedulestart"></td>
            </tr> 

            <tr>
                <td>scheduleend</td>
                <td><input type="time" placeholder="Enter schedule.." name="scheduleend"></td>
            </tr>  

            <tr>
                <td>price</td>
                <td><input type="text" placeholder="Enter price.." name="price"></td>
            </tr>

            <tr>
                <td>education</td>
                <td><input type="text" placeholder="Enter education.." name="education"></td>
            </tr>

            <tr>
                <td>rating</td>
                <td><input type="text" placeholder="Enter rating.." name="rating"></td>
            </tr>

            <tr>
                <td>address</td>
                <td><input type="text" placeholder="Enter address.." name="address"></td>
            </tr>
            
            <tr>
                <td><input type="submit" name="INSERT" class="btn btn-success"/>
                <td> {% if messages %}
                    {% for mess in messages %}
                    <b style ="color:green">{{mess}}</b>
                    {% endfor %}
                    {% endif %}</td>
            </tr>
        </table>

        <a href = "{% url 'showemp' %}" class="btn btn-info">Back</a>
       
    </form>
</div>
    </center>
</body>
</html>